#root {
    text-align: center;
}

.myInput {
    margin: 20px 0px;
}

#recipientList {
    margin-top: 20px;
}

.recipient-row {
    margin-bottom: 20px;
}

.modalSection {
    margin-top: 20px;
}

.card-col {
    height: 100%;
}

.badge {
    white-space: normal;
}

.table {
    background: white;
}

.spinner-border {
    margin-top: 20px;
}

.myTable {
    text-align: center;
    padding: 5px 20px;
    margin-bottom: 20px;
}

.icon {
    margin: 0px 5px 0px 10px;
    cursor: pointer;
}

.col-card {
    margin-bottom: 20px;
}

.modal-button {
    margin-bottom: 20px;
}

.header-icon {
    float: right;
}